
@{
    ViewBag.Title = "Index1";
}
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>

<script src="~/Content/js/respond.min.js"></script>

<script src="~/Content/js/modernizr-2.6.2.js"></script>
<script src="~/Content/js/jquery-1.10.2.min.js"></script>
<script src="~/Content/js/bootstrap.min.js"></script>
<script src="~/Content/js/owl.carousel.min.js"></script>

<div class="container">
   <!-- <div>
        <img src="~/Content/img/steak.jpg" />
    </div> -->
    
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img class="d-block img-fluid" src="~/Content/img/burger_slider.jpg" alt="First slide">
            </div>
        </div>
    </div>

    <br />
    <br />
    <div class="col-md-4">
        <div class="container" style="width:900px;">
            <div class="row products">
                <div class="col-md-4 col-sm-6">
                    <div class="panel-default panel panel-body">
                        <div class="product">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front">
                                        <a href="#">
                                            <p></p>
                                        </a>
                                    </div>

                                </div>
                            </div>
                            <div class="text">
                                <h3><a href="#">Quality Products</a></h3>
                                <p>We provide the Best Quality in town</p>


                            </div>
                            <!-- /.text -->
                        </div>
                        <!-- /.product -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="container" style="width:900px;">
            <div class="row products">
                <div class="col-md-4 col-sm-6">
                    <div class="panel-default panel panel-body">
                        <div class="product">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front">
                                        <a href="#">
                                            <p></p>
                                        </a>
                                    </div>

                                </div>
                            </div>
                            <div class="text">
                                <h3><a href="#">Quality Products</a></h3>
                                <p>We provide the Best Quality in town</p>


                            </div>
                            <!-- /.text -->
                        </div>
                        <!-- /.product -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="container" style="width:900px;">
            <div class="row products">
                <div class="col-md-4 col-sm-6">
                    <div class="panel-default panel panel-body">
                        <div class="product">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front">
                                        <a href="#">
                                            <p></p>
                                        </a>
                                    </div>

                                </div>
                            </div>
                            <div class="text">
                                <h3><a href="#">Quality Products</a></h3>
                                <p>We provide the Best Quality in town</p>


                            </div>
                            <!-- /.text -->
                        </div>
                        <!-- /.product -->
                    </div>
                </div>
            </div>
        </div>
    </div>


    <h2></h2>

</div>

