<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />

<div class="container">
    
            <ul class="nav nav-pills nav-stacked">
                <li class="active">@Html.ActionLink("DashBoard", "DashBoard")</li>
                <li class="active">@Html.ActionLink("My Products", "MyProducts")</li>
                <li class="active">@Html.ActionLink("Account Settings", "AccountSettings")</li>
                <li class="active">@Html.ActionLink("Orders", "Orders", "VendorAdminPanel")</li>
            </ul>

       
    </div>
